<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-button (click)="openExternal()">Open External</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="openSystem()">Open System</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="openWebView()">Open Web View</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
